@using copts.Models
@model IEnumerable<User>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>
<div class="table">
    <table>
        <thead>
            <tr>
            <td>Login</td>
            <td>Email</td>
            <td>Name</td>
            <td>Surname</td>
            <td>Role</td>
            </tr>
        </thead>
        <tbody>
            @foreach(var i in Model)
            {
                <tr>
                   <td>
                       @i.Login
                   </td>
                    <td>
                        @i.Email
                    </td>
                    <td>
                        @i.Name
                    </td>
                    <td>
                        @i.Surname
                    </td>
                    
                        @if (i.Role.Name == "User")
                        {
                            <td bgcolor="red">@i.Role.Name</td>

                        }
                        else
                        {
                        <td>@i.Role.Name</td>
                        }
                    <td>
                        <a class="btn btn-primary">edit</a>
                        <a class="btn btn-danger">delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
